@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter.ttf');
}

@font-face {
  font-family: 'Ciron';
  src: url('../assets/fonts/CironClassic-Regular.otf');
}

body {
  background: linear-gradient(45deg, #046aef 0%, #0c9eff 100%);
  font-family: 'Inter';
  margin: 0 auto;
}

h1 {
  font-size: 1.5rem;
  font-weight: 900;
  margin: 1rem;
  font-family: 'Ciron';
  color: white;
}

h2 {
  font-size: 1.125rem;
  font-weight: 700;
  font-family: 'Ciron';
}

h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  margin-top: 0.25rem;
  font-family: 'Ciron';
}

label {
  font-size: 14px;
  color: #39434c;
  display: flex;
  align-items: center;
  gap: 8px;
}

input[type='checkbox'] {
  width: 14px;
  height: 14px;
  border: 2px solid #39434c;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
}

input[type='checkbox']:checked {
  background-color: #046aef;
  border-color: #046aef;
}
