:root {
  --primary: #046aef;
  --secondary: #0c9eff;
  --dark-grey: #151515;
  --grey: #E8EBF3;
  --light-grey: #f9f9fb;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter.ttf');
}

@font-face {
  font-family: 'Ciron';
  src: url('../assets/fonts/CironClassic-Regular.otf');
}

body {
  background-color: white;
  font-family: 'Inter';
  margin: 0 auto;
}

h1 {
  background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
  font-size: 1.5rem;
  font-weight: 900;
  margin: 0;
  padding: 1rem;
  font-family: 'Ciron';
  color: white
}

h2 {
  font-size: 1.125rem;
  font-weight: 700;
  font-family: 'Ciron';
}

h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  margin-top: 0.25rem;
  font-family: 'Ciron';
}

label {
  font-size: 14px;
  color: var(--dark-grey);
  display: flex;
  align-items: center;
  gap: 8px;
}

input[type='checkbox'] {
  width: 14px;
  height: 14px;
  border-radius: 4px;
  cursor: pointer;
}